<h1 class="text-center">Articles Dashboard</h1>
<div class="container">
  <%= form_tag articles_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an article"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <ul>
  <% @articles.each do |article| %>
    <li>
      <h1><%= link_to article.title, article_path(article) %> </h1>
      <a href="<%= article.url %>"><%= article.url.scan(/^\S{25}/)[0] %></a>
      <% if article.reading_time.to_i > 1 %>
        <p><i>Reading time: <%= article.reading_time %> minutes</i></p>
      <% else %>
        <p><i>Reading time: less than a minute</i></p>
      <% end %>
    </li>
  <% end %>
  </ul>

  <% if params[:query].present? %>
    <a><%= link_to "Back to articles", articles_path, class:"btn btn-primary" %></a>
  <% end %>
</div>
