<div class="container mt-3">
  <h1><%= @article.title %></h1>

  <ul>
  <% @article.body.split(",").each do |word| %>
      <li><%= word %></li>
  <% end %>
  </ul>


  <a href="<%= @article.url %>"><%= @article.short_url %></a>
  <% if @article.reading_time.to_i > 1 %>
      <p><i>Reading time: <%= @article.reading_time %> minutes</i></p>
    <% else %>
      <p><i>Reading time: less than a minute</i></p>
    <% end %>
  <a><%= link_to "Go back", articles_path %></a>
</div>
